var port = 8766;

module.exports = {
    'auth0': {
        'client_id': '',
        'domain': ''
    },
    'server': {
        'port': port,
        'url': 'http://localhost:' + port
    },
    'db': {
    	'host': 'localhost',
    	'user': '',
    	'password': '',
    	'database': ''
    }
};
